.dropzone {
  height: 100%;
  width: 100%;
  z-index: 10;

  &:hover {
    background-color: rgba(232, 193, 136, 0.6);
  }
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 4px;
  background-color: rgba(111, 154, 232, 0.4);
  border: 1px dashed dodgerblue;
  height: 80px;
  width: 600px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
}

.progress {
  position: absolute;
  height: 100%;
  background-color: rgba(111, 154, 232, 1);
  width: 0;
  left: 0;
  top: 0;
  bottom: 0;

  display: flex;
  color: white;
  font-size: 16px;
}

.uploaded {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  padding-left: 40px;
}

.addSound {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.plusIcon {
  font-size: 18px;
  margin-right: 10px;
}
