.cross {
  composes: fa fa-times from 'font-awesome/css/font-awesome.css';
}

.play {
  composes: fa fa-play from 'font-awesome/css/font-awesome.css';
}

.stop {
  composes: fa fa-stop from 'font-awesome/css/font-awesome.css';
}

.plusCircle {
  composes: fa fa-plus-circle from 'font-awesome/css/font-awesome.css';
}

.plus {
  composes: fa fa-plus from 'font-awesome/css/font-awesome.css';
}

.cloudUpload {
  composes: fa fa-cloud-upload from 'font-awesome/css/font-awesome.css';
}

.checkCircle {
  composes: fa fa-check-circle-o from 'font-awesome/css/font-awesome.css';
}

.chainBroken {
  composes: fa fa-chain-broken from 'font-awesome/css/font-awesome.css';
}

.ellipsisV {
  composes: fa fa-ellipsis-v from 'font-awesome/css/font-awesome.css';
}

.pencil {
  composes: fa fa-pencil from 'font-awesome/css/font-awesome.css';
}

.trashO {
  composes: fa fa-trash-o from 'font-awesome/css/font-awesome.css';
}

.trash {
  composes: fa fa-trash from 'font-awesome/css/font-awesome.css';
}
