.light {
  background-size: 5px 5px !important;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
  margin-top: 25px;
}

.active {
  opacity: 1;
}

.red {
  background: red radial-gradient(brown, transparent);
  box-shadow:
    0 0 20px #111 inset,
    0 0 10px red;
}

.yellow {
  background: yellow radial-gradient(orange, transparent);
  box-shadow:
    0 0 20px #111 inset,
    0 0 10px yellow;
}

.green {
  background: green radial-gradient(lime, transparent);
  box-shadow:
    0 0 20px #111 inset,
    0 0 10px lime;
}
