.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 500px;
  margin: 20px auto 0;
}

.builds {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  background-color: ghostwhite;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 10px;
}

.footer {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;

  & button {
    margin-right: 10px;
  }
}
